# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Corona Chaos.iml
# Datasource local storage ignored files
/../../../../../../:\Unity-Guido\Corona Chaos\.idea\.idea.Corona Chaos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
